body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans",
        "Kanit",
        "DM Sans",
        sans-serif;
    ;
}

body.theme-dark {
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #ffdfdf !important;
}

body.theme-mars {
    background: linear-gradient(135deg, #ff4500, #8b0000);
    color: #181313 !important;
}

body.theme-starchart {
    background: url('../images/cosmos.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #09ff00 !important;
}

.cursor-pointer {
    cursor: pointer;
}